.header-container {
  background-color: grey;
  padding: 25px 20px;
}

.header-content {
  display: flex;
}

.header-link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition-duration: 0.3s;
}

.header-link:hover {
  color: #000;
  transition-duration: 0.3s;
}
